</main>

<footer class="py-3 my-4 text-center">
  <p>© <%= new Date().getFullYear() %> ALCHURI SAI PRANEETH REDDY</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
