<%- include("partials/header") %>

<section title="projects">
      <div class="container">
        <h2 class="pb-2 border-bottom indie-flower-regular">projects</h2>

        <div class="row align-items-start pt-5">
          <div class="row">
            <div class="col-auto px-1 py-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="col bi bi-briefcase" viewBox="0 0 16 16">
              <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5m1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0M1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5"/>
            </svg>
            </div>
          <h3 class="col m-0 pb-2">Gas and Smoke leakage Detection System.</h3>
          <h4 class="col-auto d-flex justify-content-end align-items-left">July 2025 - september 2025</h4>
          </div>
          <p class="card-text">
            Developed an Arduino-based safety system to detect gas and smoke leakage using MQ-series sensors.
            Implemented buzzer & LED alerts, GSM module for emergency SMS notifications, and an LCD interface
            for live system monitoring.
          </p>
        </div>

        <div class="row align-items-start pt-5">
          <div class="row">
            <div class="col-auto px-1 py-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="col bi bi-briefcase" viewBox="0 0 16 16">
              <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5m1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0M1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5"/>
            </svg>
            </div>
          <h3 class="col m-0 pb-2">Blogging Web Application</h3>
          <h4 class="col-auto d-flex justify-content-end align-items-left">May 2024 – August 2024</h4>
          </div>
          <p class="card-text">
            Full-stack blogging app with authentication, CRUD features, and SQL storage.
            Built using Flask, HTML, CSS, and MySQL.
          </p>
        </div>

        <div class="row align-items-start pt-5">
          <div class="row">
            <div class="col-auto px-1 py-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="col bi bi-briefcase" viewBox="0 0 16 16">
              <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5m1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0M1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5"/>
            </svg>
            </div>
          <h3 class="col m-0 pb-2">AUTOBANK-PRO</h3>
          <h4 class="col-auto d-flex justify-content-end align-items-left">November 2025</h4>
          </div>
          <p class="card-text">
            A modern full-stack banking system offering real-time money transfers, secure user
        authentication, loan application and EMI management, atomic Firestore transactions,
        and a responsive dashboard with analytics. Designed for both customers and admin roles
        with live data sync and optimized workflows.
          </p>
        </div>
      </div>
    </section> 




<%- include("partials/footer") %>