
body{
    margin: 0%;
}

@keyframes floatUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Starts 20px lower */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


#hero {
  /* padding: 40px; */
  background-color: #F8FAFC;
  min-height: 100vh;
  display: flex;
  align-items: center;

}


.hero-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 350px;
  grid-template-rows: auto  auto;
  gap: 3rem;
  padding: 3rem 5%;
  padding-top: 0%;
  align-items: center;
   align-items: stretch; 
}

.hero-text h1 {
  color: #0F172A;
  margin: 0;
  font-size: clamp(2.5rem, 5vw, 4.5rem);
  overflow: hidden;
  /* animation: name-animation 1.0s ease-out forwards; */
}

@keyframes name-animation {
  from {
    transform: scale(1.4);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


.hero-text h2 {
  color: #2563EB;
  margin: 0.75rem 0 1.5rem;
  font-size: clamp(1.3rem, 3vw, 2rem);
  /* animation: name-animation 1.0s ease-out forwards; */
}

.about-me p {
  font-size: 1.15rem;
  line-height: 1.7;
  color: #374151;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;

}

.profile-photo img:hover {
  transform: scale(1.05); 
  box-shadow: 0 10px 20px rgba(0,0,0,0.2); 
  border-color: #2563EB; 
}

.profile-image {
    width: 100%;
    max-width: 350px;
    height: 350px;
    border-radius: 50%; 
    object-fit: cover;
    /* aspect-ratio: 1 / 1; */
    /* margin-top: -150px; */
    box-shadow: 0 10px 30px -10px rgba(0,0,0,0.3);
    animation: floatUp 1.0s ease-out forwards;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.profile-image:hover {
  opacity: 1;
}


/* Navbar */

.header{
  display: flex;
  align-items: center;
  /* padding: 1rem 2rem; */
  background-color: #F8FAFC;
  /* flex-shrink: 0; */
}

.header-left{
  flex: 1;
  padding-left: 3rem;
  font-size: 1.2rem;
  font-weight: 500;
  flex-grow: 1;
}

.header-center{
  flex : 1;
  flex-shrink: 1;
}

.header-right {
  flex: 1;
  display: flex;
  align-self: center;
}
.navbar{
  display: flex;
  align-items: center;  
  margin-top: 1rem;
  
}
.nav-list{
  list-style: none;
  display: flex;
  gap: 4rem;
  background: linear-gradient(135deg, #2a1f3d, #1b1b2f);
  border-radius: 50px;
  padding: 1.0rem 2rem;
}

.nav-list li a{
  color: #cfcfe6;
  text-decoration: none;
}

.nav-item{
  
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.portfolio {
  font-size: 1.5rem;
  font-weight: 700;
  /* color: #2563EB; */
}